// Descriptive color variables

$white          : #fff;
$black          : #000;
$grey           : #777;
$light-grey     : #ccc;
$light-blue     : #51ddfc;
$purple         : #927bc1;
$red            : #e4757a;
$green          : #63cc82;
$orange         : #fd7856;
$light-green    : #58e1c1;

//Media Breakpoints

$brk-tablet     : 768px;
